<div fxLayout="column" fxFlexFill>
  <h1 fxLayoutAlign="center start">
    Skill : {{activeSkillName}}<br>
  </h1>

  <!-- -------------GP Table View------------- -->
  <table mat-table [dataSource]="gpDataSource" *ngIf="showGp">

    <!-- Rank Column -->
    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef> Rank </th>
      <td mat-cell *matCellDef="let rankRow"> {{rankRow.rank}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let rankRow"> {{rankRow.name}} </td>
    </ng-container>

    <!-- GP Column -->
    <ng-container matColumnDef="gp">
      <th mat-header-cell *matHeaderCellDef> GP </th>
      <td mat-cell *matCellDef="let rankRow"> {{numberWithCommas(rankRow.gp)}} </td>
    </ng-container>

    <!-- 99s Column -->
    <ng-container matColumnDef="num99s">
      <th mat-header-cell *matHeaderCellDef> 99s </th>
      <td mat-cell *matCellDef="let rankRow"> {{numberWithCommas(rankRow.num99s)}} </td>
    </ng-container>

    <!-- GP Column -->
    <ng-container matColumnDef="pets">
      <th mat-header-cell *matHeaderCellDef> Pets </th>
      <td mat-cell *matCellDef="let rankRow"> {{numberWithCommas(rankRow.pets)}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="GP_COLUMNS"></tr>
    <tr mat-row *matRowDef="let row; columns: GP_COLUMNS;"></tr>
  </table>

  <!-- -------------Combat Table View------------- -->
  <table mat-table [dataSource]="skillDataSource" *ngIf="showCombat">

    <!-- Rank Column -->
    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef> Rank </th>
      <td mat-cell *matCellDef="let rankRow"> {{rankRow.rank}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let rankRow"> {{rankRow.name}} </td>
    </ng-container>

    <!-- Level Column -->
    <ng-container matColumnDef="level">
      <th mat-header-cell *matHeaderCellDef> Level </th>
      <td mat-cell *matCellDef="let rankRow"> {{rankRow.level}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="COMBAT_COLUMNS"></tr>
    <tr mat-row *matRowDef="let row; columns: COMBAT_COLUMNS;"></tr>
  </table>

  <!-- -------------Skill Table View------------- -->
  <table mat-table [dataSource]="skillDataSource" *ngIf="showSkill">

    <!-- Rank Column -->
    <ng-container matColumnDef="rank">
      <th mat-header-cell *matHeaderCellDef> Rank </th>
      <td mat-cell *matCellDef="let rankRow"> {{rankRow.rank}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let rankRow"> {{rankRow.name}} </td>
    </ng-container>

    <!-- Level Column -->
    <ng-container matColumnDef="level">
      <th mat-header-cell *matHeaderCellDef> Level </th>
      <td mat-cell *matCellDef="let rankRow"> {{rankRow.level}} </td>
    </ng-container>

    <!-- XP Column -->
    <ng-container matColumnDef="xp">
      <th mat-header-cell *matHeaderCellDef> XP </th>
      <td mat-cell *matCellDef="let rankRow"> {{numberWithCommas(rankRow.xp)}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="SKILL_COLUMNS"></tr>
    <tr mat-row *matRowDef="let row; columns: SKILL_COLUMNS;"></tr>
  </table>

  <p fxLayoutAlign="center start">
    <!-- https://github.com/melvor-hiscores/hiscores-bookmarklet/blob/master/load-remote-bookmarklet.js -->
    <a href='javascript:(function(){document.body.appendChild(document.createElement("script")).src="https://melvor-hiscores.github.io/bookmarklet.js";})();' style="color: white; margin-top: 16px;">1.0.2_MelvorIdle_Bookmarklet</a>
  </p>


</div>