<body>
    <!-- Horizontal Padding based on the background -->
    <div class="background-wrapper" fxLayout="row" fxFlexFill fxLayoutAlign="space-between stretch">
        <div fxFlex="28%">
            <!-- Padding -->
        </div>
        <div fxFlex="44%">
            <div fxLayout="column" fxFlexFill fxLayoutAlign="space-between stretch">
                <div fxFlex="12%">
                    <app-header></app-header>
                </div>

                <div fxFlex="88%">
                    <app-home></app-home>
                </div>

                <!-- <div fxFlex="1%">
                    <app-footer></app-footer>
                </div> -->
            </div>
        </div>
        <div fxFlex="28%">
            <!-- Padding -->
        </div>
    </div>
</body>

<router-outlet></router-outlet>
