.nobulli {
    padding: 0px;
    list-style-type: none;
    font-size: 12px;
    color: white;
}

.mat-icon {
    font-size: 2px;
    width: 24px;
    height: 24px;
}

.mat-button {
    line-height: 34px;
}